<div class="title" [style.width]="tableWidth">
  <span>{{ title }}:</span>
  <a (click)="onCreate()" (keyup.enter)="onCreate()" (keyup.space)="onCreate()" tabindex="0" role="button">
    <fa-icon [icon]="faChevronRight"></fa-icon>
    {{ createButtonText }}
  </a>
</div>

<table [style.width]="tableWidth">
  <thead>
  <tr>
    @for (column of columns; track column) {
      <th>{{ column.label }}</th>
    }
    <th class="action"></th>
    <th class="action"></th>
  </tr>
  </thead>
  <tbody>
    @for (item of items; let i = $index; track item) {
      <tr>
        @for (column of columns; track column) {
          <td>{{ getItemValue(item, column.value) }}</td>
        }
        <td class="action">
          <a (click)="onEdit(item)" (keyup.enter)="onEdit(item)" (keyup.space)="onEdit(item)" tabindex="0"
             role="button">
            <fa-icon [icon]="faPencilAlt"></fa-icon>
          </a>
        </td>
        <td (mouseleave)="cancelDelete(i)" class="action">
          @if (!confirmDelete[i]) {
            <a class="delete" (click)="askDelete(i)" (keyup.enter)="askDelete(i)" (keyup.space)="askDelete(i)"
               tabindex="0" role="button">
              <fa-icon [icon]="faTrashAlt"></fa-icon>
            </a>
          } @else {
            <a (click)="cancelDelete(i)" (keyup.enter)="cancelDelete(i)" (keyup.space)="cancelDelete(i)" class="delete"
               tabindex="0" role="button">
              <fa-icon [icon]="faXmark"></fa-icon>
            </a>
            <a (click)="removeItem(i)" (keyup.enter)="removeItem(i)" (keyup.space)="removeItem(i)" tabindex="0"
               role="button">
              <fa-icon [icon]="faCheck"></fa-icon>
            </a>
          }
        </td>
      </tr>
    }
  </tbody>
</table>

@if (showModal) {
  <div class="overlay" (click)="onCloseModal()" (keyup.escape)="onCloseModal()" tabindex="0" role="dialog"
       aria-modal="true">
    <div class="modal" (click)="$event.stopPropagation()" (keyup.escape)="onCloseModal()" tabindex="0">
      <ng-content></ng-content>
    </div>
  </div>
}
