<div>

  <span class="logo" routerLink="">Going<span>Far</span></span>
  @for (tab of Object.keys(tabs); track tab) {
    <a routerLink="{{tabs[tab]}}">
      <fa-icon [icon]="faChevronRight"></fa-icon>
      {{ tab }}</a>
  }
  <span class="container">
  @if (logged) {
    <a (click)="toggleLogin()">
      <fa-icon [icon]="faChevronRight"></fa-icon>
      Sign Out</a>
  } @else {
    <a (click)="toggleLogin()">
      <fa-icon [icon]="faChevronRight"></fa-icon>
      &nbsp;Sign In </a>
  }
  </span>
</div>
