<div>
  <span class="logo" routerLink="">
    Going<span>Far</span>
  </span>

  @for (tab of tabs; track tab) {
    @if (hasRole(tab.roles, (role$ | async))) {
      <a routerLink="{{ tab.url }}">
        <fa-icon [icon]="faChevronRight"></fa-icon>
        {{ tab.name }}
      </a>
    }
  }

  <span class="container">
    @if (isLoggedIn$ | async) {
      <a (click)="tryLogout()">
        <fa-icon [icon]="faChevronRight"></fa-icon>
        Sign Out
      </a>
    } @else {
      <a routerLink="/login">
        <fa-icon [icon]="faChevronRight"></fa-icon>
        &nbsp;Sign In
      </a>
    }
  </span>
</div>
