<!DOCTYPE html>
<html 
	lang="pl-PL"
	xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
		<link rel="stylesheet" type="text/css" href="./styles/layout.css">
		<link rel="stylesheet" type="text/css" href="./styles/forms.css">
		<script src="./scripts/form.js"></script>
		<title>JedzieszDaleko - Nowy bilet</title>
	</head>
	<body>
	
		<!-- NAGŁÓWEK -->
		<div class="header">

			<!-- LOGO -->
			<a class="logo" th:href="@{/}">Jedziesz<span>Daleko</span></a>

			<a class="menu" th:if="@{${principal}==admin}" th:href="@{/pracownicy}"><i class="fas fa-angle-right"></i>Pracownicy</a>
			<a class="menu" th:unless="@{${principal}==admin}"></a>
			<a class="menu" th:if="@{${principal}==admin}" th:href="@{/pojazdy}"><i class="fas fa-angle-right"></i>Pojazdy</a>
			<a class="menu" th:unless="@{${principal}==admin}" ></a>
			<a class="menu" th:if="@{${principal}==admin}" th:href="@{/przystanki}"><i class="fas fa-angle-right"></i>Przystanki</a>
			<a class="menu" th:unless="@{${principal}==admin}"></a>
			<a class="menu" th:if="@{${principal}==admin}" th:href="@{/biura}"><i class="fas fa-angle-right"></i>Biura</a>
			<a class="menu" th:unless="@{${principal}==admin}"></a>
			<a class="menu" th:if="@{${principal}!=null}" th:href="@{/bilety}"><i class="fas fa-angle-right"></i>O mnie</a>
			<a class="menu" th:unless="@{${principal}!=null}"></a>
			<a class="menu" th:if="${principal!=null}" th:text="@{Wyloguj,}+${principal}" th:href="@{/logout}"><i class="fas fa-angle-right"></i>Wylogowanie</a>
			<a class="menu" th:if="${principal==null}" th:text="@{Zaloguj się}" th:href="@{/login}"><i class="fas fa-angle-right"></i>Zalogowanie</a>
		</div>
		
		<!-- TREŚĆ -->
		
		<!-- NAGŁÓWEK PODSTRONY -->
		<div class="title">Nowy bilet:</div>
		
		<!-- FORMULARZ PRACOWNIKA -->
		<form method="post">
			<label for="rodzaj">Rodzaj:</label>
			<input type="text" id="rodzaj" placeholder="Normalny">
			<label for="waznosc">Ważność:</label>
			<input type="text" id="waznosc" placeholder="10 min">
			<label for="cena">Cena:</label>
			<input type="text" id="cena" placeholder="5 PLN">
			<a class="button" th:href="@{/bilety}"><i class="fas fa-angle-right"></i>Anuluj</a>
			<button type="submit">Zapisz<i class="fas fa-save"></i></button>
		</form>
		
		<!-- KOMUNIKAT BŁEDU -->
		<div class="error" th:if="${param.error}">Wprowadzono nieprawidłowe dane. Spróbuj ponownie.</div>
		
		<!-- KONIEC TREŚCI -->

		<!-- STOPKA -->
		<p class="footer">&#169; Mikołaj Olczak 2022</p>
		
	</body>
</html>