<!DOCTYPE html>
<html 
	lang="pl-PL"
	xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
		<link rel="stylesheet" type="text/css" href="./styles/layout.css">
		<link rel="stylesheet" type="text/css" href="./styles/forms.css">
		<script src="./scripts/form.js"></script>
		<title>JedzieszDaleko - Nowy pojazd</title>
	</head>
	<body>
	
		<!-- NAGŁÓWEK -->
		<div class="header">

			<!-- LOGO -->
			<a class="logo" th:href="@{/}">Jedziesz<span>Daleko</span></a>

			<a class="menu" th:if="@{${principal}==admin}" th:href="@{/pracownicy}"><i class="fas fa-angle-right"></i>Pracownicy</a>
			<a class="menu" th:unless="@{${principal}==admin}"></a>
			<a class="menu" th:if="@{${principal}==admin}" th:href="@{/pojazdy}"><i class="fas fa-angle-right"></i>Pojazdy</a>
			<a class="menu" th:unless="@{${principal}==admin}" ></a>
			<a class="menu" th:if="@{${principal}==admin}" th:href="@{/przystanki}"><i class="fas fa-angle-right"></i>Przystanki</a>
			<a class="menu" th:unless="@{${principal}==admin}"></a>
			<a class="menu" th:if="@{${principal}==admin}" th:href="@{/biura}"><i class="fas fa-angle-right"></i>Biura</a>
			<a class="menu" th:unless="@{${principal}==admin}"></a>
			<a class="menu" th:if="@{${principal}!=null}" th:href="@{/bilety}"><i class="fas fa-angle-right"></i>O mnie</a>
			<a class="menu" th:unless="@{${principal}!=null}"></a>
			<a class="menu" th:if="${principal!=null}" th:text="@{Wyloguj,}+${principal}" th:href="@{/logout}"><i class="fas fa-angle-right"></i>Wylogowanie</a>
			<a class="menu" th:if="${principal==null}" th:text="@{Zaloguj się}" th:href="@{/login}"><i class="fas fa-angle-right"></i>Zalogowanie</a>
		</div>
		
		<!-- TREŚĆ -->
		
		<!-- NAGŁÓWEK PODSTRONY -->
		<div class="title">Nowy pojazd:</div>
		
		<!-- FORMULARZ POJAZDU -->
		<form action="#" th:action="@{/newpojazd/save}" th:objects="*{pojazd}" method="post">
			<label for="marka">Marka:</label>
			<input th:field="*{pojazd.marka}" type="text" id="marka" placeholder="Audi">
			<label for="model">Model</label>
			<input th:field="*{pojazd.model}" type="text" id="model" placeholder="A4">
			<label for="produkcja">Rok produkcji:</label>
			<input th:field="*{pojazd.rokprodukcji}" onkeypress="isNumberKey(event)" type="text" id="produkcja" placeholder="2019">
			<label for="rejestracja">Nr rejestracyjny:</label>
			<input th:field="*{pojazd.nrrejestracyjny}" type="text" id="rejestracja" placeholder="BG00000">
			<label for="zakup">Data zakupu:</label>
			<input th:field="*{pojazd.datazakupu}" type="text" id="zakup" placeholder="00.00.0000">
			<label for="ubezpieczenie">Data ubezp. :</label>
			<input th:field="*{pojazd.dataubezpieczenia}" type="text" id="ubezpieczenie" placeholder="00.00.0000">
			<label for="biuro">Biuro:</label>
			<select th:field="*{pojazd.nrbiura}" id="biuro">
				<option th:each = "biuro: ${biuroList}" th:value="${biuro.nrbiura}" th:text="${biuro.nazwa}"></option>
			</select>
			<a class="button" th:href="@{/pojazdy}"><i class="fas fa-angle-right"></i>Anuluj</a>
			<button type="submit">Zapisz<i class="fas fa-save"></i></button>
		</form>
		
		<!-- KOMUNIKAT BŁEDU -->
		<div class="error" th:if="${param.error}">Wprowadzono nieprawidłowe dane. Spróbuj ponownie.</div>
		
		<!-- KONIEC TREŚCI -->

		<!-- STOPKA -->
		<p class="footer">&#169; Jedziesz Daleko 2022</p>
		
	</body>
</html>